    * {
        margin: 0;
        font-family: 'Open Sans', sans-serif;
    }

    .header {
        background-color: #FFF8F3;
        background-image: url(../images/header_bg.png), url(../images/developer.png);
        background-repeat: no-repeat;
        background-position: bottom right, left;
    }

    /* Header and navigation title style */
    .nav-title {
        font-weight: 800;
        font-size: 45px;
    }

    .text-primary {
        color: #FD6E0A;
    }

    nav {
        display: flex;
        justify-content: space-between;
        margin: 0px 220px;
        padding-top: 40px;
    }

    nav li {
        list-style: none;
        margin-left: 50px;
    }

    nav ul {
        display: flex;
        align-items: center;
    }

    .btn-primary {
        height: 64px;
        background: #FD6E0A;
        border-radius: 5px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 20px;
        border: 0;
        padding: 18px 35px;
    }

    .btn-contact {
        border: 1px solid #FD6E0A;
        padding: 18px 44px;
        margin-left: 30px;
        height: 64px;
        background-color: #FFF8F3;
        font-weight: 700;
        font-size: 20px;
        color: #FD6E0A;
        border-radius: 5px;
    }

    /* banner styles */
    .banner {
        margin: 0 100px 0 200px;
        align-items: center;
        display: flex;
    }

    .banner-sub-title {
        font-weight: 600;
        font-size: 45px;
        margin-bottom: 5px;
    }

    .banner-title {
        font-weight: 700;
        font-size: 85px;
        margin-bottom: 20px;
    }

    .banner-description {
        font-weight: 400;
        font-size: 18px;
        color: #757575;
        margin-bottom: 30px;
    }

    /* main section */
    main {
        max-width: 1140px;
        margin: 0 auto;
    }

    .about {
        margin-top: 130px;
        background: #FFF8F3;
        border-radius: 10px;
        padding: 130px 150px;
        text-align: center;

    }

    .section-title {
        font-weight: 700;
        font-size: 35px;
        margin-bottom: 50px;
        text-align: center;
    }

    .section-description {
        font-weight: 400;
        font-size: 18px;
        color: #757575;
        margin-bottom: 30px;
    }

    .about-info-container {
        display: flex;
        justify-content: space-around;
    }

    .about-title {
        font-weight: 400;
        font-size: 20px;
        color: #757575;
    }

    .about-description {
        font-weight: 700;
        font-size: 20px;
        color: #474747;
    }

    /* what i do section style */
    .what-i-do {
        margin-top: 130px;
    }

    .what-i-d0-section-description {

        text-align: center;
        color: #757575;
        font-weight: 400;
        font-size: 18px;
        padding: 10px 120px;
        margin-bottom: 60px;
    }

    .skills-container {
        display: flex;
        gap: 25px;
    }

    .skill-title {
        font-weight: 700;
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 24px;
    }

    .skill-description {
        font-weight: 400;
        font-size: 16px;
        color: #757575
    }

    .skill{
        background: #FFFFFF;
        box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        padding: 35px;
    }
    section{
        margin-top: 130px;
    }
    /* resume section */
    .resume-content{
        display: flex;
        gap: 24px;
        padding: 30px;
    }
    .resume-title{
        font-weight: 700;
        font-size: 30px;
        color: #474747;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .resume .title{
        font-weight: 700;
        font-size: 25px;
        color: #474747
        }
    .resume .sub-title{
        font-weight: 600;
        font-size: 20px;
        color: #757575;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .resume .description{
        font-weight: 400;
        font-size: 16px;
        color: #757575;
        margin-bottom: 10px;
    }
    .resume-item{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .padding-content{
        padding: 0 50px;
    }
    .resume-btn{
        margin-top: 30px;
        text-align: center;
    }